@tailwind base;
@tailwind components;
@tailwind utilities;
.card-scroll-container {
    width: 100%;
    overflow: hidden;
}

.card-container2 {
    display: flex;
    flex-wrap: nowrap;
}

.card-image {
    margin-right: 20px;
}

.card-image:last-of-type {
    margin-right: 0;
}